* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #263f44;
  cursor: default;
}
.main-container {
  width: 57vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-container {
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.items {
  flex: 1;
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-box {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.poster {
  width: 20vw;
  height: 50vh;
  background-image: url();
  background-size: cover;
  background-position: center;
}
.description {
  width: 40vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}
.description p {
  width: 30vw;
  height: 15vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.hideDescription {
  opacity: 0;
}
.displayDescription {
  opacity: 1;
}

// *,
// *:before,
// *:after {
//   box-sizing: border-box;
//   margin: 0 auto;
// }

// body {
//   padding: 0 5%;
//   line-height: 1.4;
//   margin-top: 10rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   background-color: rgba(66, 59, 59, 0.226);
//   background-image: url("https://images.unsplash.com/photo-1543536448-1e76fc2795bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1324&q=80");
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .container {
//   background-image: url("https://images.unsplash.com/photo-1565300667498-2843c56b4603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=671&q=80");
//   opacity: 0.7;
//   width: 60vw;
//   height: 60vh;
//   margin-top: 3rem;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: space-evenly;
// }
// .main-list {
//   width: 20vw;
//   height: 25vh;
//   margin-top: 3rem;
//   display: flex;
//   flex-direction: column;
// }
// .movies {
//   flex: 1;
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .film-descriptions {
//   width: 30vw;
//   height: 40vh;
//   margin-top: 10rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
// }

// .text {
//   width: 30vw;
//   height: 20vh;
//   margin-bottom: -5em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .text p {
//   width: 30vw;
//   height: 15vh;
//   margin-bottom: -5em;
//   display: flex;
//   align-items: center;
//   text-align: center;
// }

// .hide.Text {
//   opacity: 0;
// }

// .display.Text {
//   opacity: 1;
// }
